<h1>Art</h1>

<br>
<%=  @artwork.title %>
<%=  @artwork.price %>
<%=  @artwork.technic %>
  
  <br>

    <h3>Add to collection</h3>
<% form_for %>
<%= collection_check_boxes :collection, :id, @collections, :id, :name %>