<div class="col">
  <div class="jumbotron">
    <h1 class="display-5">Welcome on Artwork Manager</h1>
    <p class="lead">Track your arts and send then to a museum collection. If you are a collection manager, find arts and easily manage your next collection!</p>
    <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </p>
  </div>


        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Number of represented artists
            <span class="badge badge-primary badge-pill">14</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Number of artworks
            <span class="badge badge-primary badge-pill">2</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Total user
            <span class="badge badge-primary badge-pill">1</span>
          </li>
        </ul>
    
 
        <p>
          Artworks manager is an easy, quick and efficient way to manage your arts or your collection. As an art owner, it is easy for you to post an art and communicate with collections manager from around the world.
        </p>
</div>